@media (max-width: 640px) {

    /* grid primcipal movil */
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*    grid-gap: 5px; */
        grid-auto-rows: minmax(100px, auto);
        text-align: center;
    }

    .header {
        grid-column: 1 / 4;
        grid-row: 1;
    }

    .header div {
        position: relative;
        color: white;
        font-weight: bold;
    }

    .titulo{
        background-color: white;
        width: 80%;
        position: relative;
        top: -50px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .imgHeader{
        width: 100%;
    }

    .header::before {
        display: none;
    }

    .header div {
        z-index: 10;
    }

    .ham {
        grid-column: 1;
        grid-row: 1;
    }

    .noticia {
        grid-column: 1 / 4;
        grid-row: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    /* autor */
    .autor, .dia {
        float: right;
        margin: 5px;
    }

    .parrafo {
        margin: 10px;
        text-align: left;
    }

    .primero {
        margin-top: 30px;
    }

    .imagen {
        width: 60%;
    }
}

@media (min-width:640px) {

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        grid-auto-rows: minmax(100px, auto);
        text-align: center;
    }

    .grid > .noticia{
        margin: auto;
    }

    .header {
        grid-column: 1 / 5;
        grid-row: 1;
        /* centrar el título */
    }

    .header::before {
        content: '';
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        background-size: 100%;
        filter:blur(5px);
    }
    .imgHeader{
        width: 60%;
        position: relative;
        bottom: 100%;
    }
    .titulo{
        background-color: white;
        width: 100%;
        position: relative;
        top: -50px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .ham {
        grid-column: 1;
        grid-row: 1;
    }

    .noticia {
        grid-column: 1 / 5;
        grid-row: 2;
        max-width: 60%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    /* autor */
    .autor, .dia {
        float: right;
        margin: 5px;
    }

    .parrafo {
        margin: 10px;
        text-align: left;
        font-size: 20px;
    }

    .primero {
        margin-top: 30px;
    }

    .imagen {
        width: 60%;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

