@media (max-width: 639px) {
  .gridPC, li.textNoticia{
    display: none;
  }
/* grid principal para móviles */
  .grid{ /* padre del grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
/*     grid-gap: 5px; */
    grid-auto-rows: minmax(100px, auto);
  }
  .grid * { /* temporal */
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .header{
    grid-column: 1 / 4;
    grid-row: 1;
  }
  .ham{
    grid-column: 1;
    grid-row: 1;
  }
  .destacadas{
    grid-column: 1 / 4;
    grid-row: 2;
    height: 318px;
  }
  .scroll{
    grid-column: 1 / 4;
    grid-row: 3;
  }
  /* fin grid principal */

  /* decoración de listas desordenadas contenedoras de noticias */
  .mejorValoradas, .noticiasScroll{
    list-style-type: none;
    margin: 0; padding: 0; /* eliminar el margin y el padding propios del ul por defecto */
  }

  /* decoración noticia móvil */
  .noticia{
    width: 100%;
    height: 100px;
  }
  .titulo{
    position: relative;
    color: white;

    font-size: 22px;
    padding-right: 10px;
    padding-left: 20px;
    bottom: 30%;
    z-index: 1;
    font-weight: bold;
  }

  .comunidad{
    background-color: rgb(255, 122, 123, 0.8);
    position: relative;
    bottom: 90%;
    padding: 5px;
    color: white;
    width: fit-content;
  }

  .comunidad::before{
    content: '#';
  }
  /* por ahora todos los elementos son "even" debido a los ::before, pero la idea es añadir los odd y even como clases directamente desde js */
  .mejorValoradas:nth-child(even) .titulo{
    float: left;
  }
  .mejorValoradas:nth-child(even) .comunidad{
    float: right;
  }

  .noticiasScroll:nth-child(even) .titulo{
    float: left;
  }
  .noticiasScroll:nth-child(even) .comunidad{
    float: right;
  }

}
@media (min-width:640px) {

    .grid{
      display: none;
    }
    /* grid para PC */
    .grid{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5px;
      grid-auto-rows: minmax(100px, auto);
    }
    .grid * { /* temporal */
      background-color: rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    .header{
      grid-column: 1 / 5;
      grid-row: 1;
    }
    .ham{
      grid-column: 1;
      grid-row: 1;
    }
    .mejorValoradas, .noticiasScroll{
      list-style-type: none;
      margin: 0; padding: 0; /* eliminar el margin y el padding propios del ul por defecto */
    }

    .destacadas{
      grid-column: 1 / 5;
      grid-row: 2;
      height: 220px;
    }
    .scroll{
      grid-column: 1 / 5;
      grid-row: 3;
    }

    .mejorValoradas{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5px;
      grid-auto-rows: minmax(100px, auto);
    }
    .noti0{
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }

    .noti1{
      grid-column: 3 / 5;
      grid-row: 1;
    }
    .noti2{
      grid-column: 3 / 5;
      grid-row: 2;
    }

    .destacadas .titulo{
      position: relative;
      color: white;
      float: left;
      font-size: 22px;
      padding-right: 10px;
      padding-left: 20px;
      bottom: 30%;
      z-index: 1;
      font-weight: bold;
    }

    .comunidad{
      background-color: rgb(255, 122, 123, 0.8);
      position: relative;
      float: right;
      bottom: 90%;
      padding: 5px;
      color: white;
      width: fit-content;
    }
  
    .comunidad::before{
      content: '#';
    }
    .scroll .noticia{
      height: 200px;
    }
    .scroll .titulo{
      display: none;
    }

    .noticiasScroll{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5px;
      grid-auto-rows: minmax(100px, auto);
    }

    .noticiasScroll .noticia{
      grid-column: 1;
      grid-row: unset;
    }
    .noticiasScroll .textNoticia{
      grid-column: 2 / 4;
    }
}
/* eliminar bordes blancos al rededor del contenido */
html, body {
  margin: 0;
  padding: 0;
}