@media (max-width: 640px) {

    /* grid primcipal movil */
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*    grid-gap: 5px; */
        grid-auto-rows: minmax(100px, auto);
        text-align: center;
    }

    .header {
        grid-column: 1 / 4;
        grid-row: 1;
        line-height: 150px;
    }

    .header div {
        position: relative;
        color: white;
        font-weight: bold;
    }

    .header::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 150px;
        display: block;
        background-size: 100%;
        filter: brightness(65%);
        z-index: 0;
    }

    .header div {
        z-index: 10;
    }

    .ham {
        grid-column: 1;
        grid-row: 1;
    }

    .noticia {
        grid-column: 1 / 4;
        grid-row: 2;

    }

    /* autor */
    .autor, .dia {
        float: right;
        margin: 5px;
    }

    .parrafo {
        margin: 10px;
        text-align: left;
    }

    .primero {
        margin-top: 30px;
    }

    .imagen {
        width: 60%;
    }
}

@media (min-width:640px) {

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        grid-auto-rows: minmax(100px, auto);
        text-align: center;
    }

    .header {
        grid-column: 1 / 5;
        grid-row: 1;
        height: 200px;
        /* centrar el título */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .header div {
        position: relative;
        color: white;
        font-weight: bold;
        font-size: 32px;
    }

    .header::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 200px;
        display: block;
        background-size: 100%;
        filter: brightness(65%);
    }

    .ham {
        grid-column: 1;
        grid-row: 1;
    }

    .noticia {
        grid-column: 2 / 4;
        grid-row: 2;
        max-width: 780px;
    }

    /* autor */
    .autor, .dia {
        float: right;
        margin: 5px;
    }

    .parrafo {
        margin: 10px;
        text-align: left;
        font-size: 20px;
    }

    .primero {
        margin-top: 30px;
    }

    .imagen {
        width: 100%;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000;
    transition: all 0.6s ease-in-out;
    z-index: 10;
  }
  
  #active:checked~.wrapper {
    left: 0;
  }
  
  .menu-btn {
    position: absolute;
    z-index: 11;
    left: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .menu-btn:before {
    transform: translateY(-8px);
  }
  
  .menu-btn:after {
    transform: translateY(8px);
  }
  
  
  .close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
  }
  
  /* closing animation */
  #active:checked+.menu-btn span {
    transform: scaleX(0);
  }
  
  #active:checked+.menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
  }
  
  #active:checked+.menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
  }
  
  .wrapper ul {
    position: absolute;
    top: 60%;
    left: 40%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  
  .wrapper ul li {
    height: 10%;
    margin: 15px 0;
    text-align: center;
  }
  
  .wrapper ul li a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    width: max-content;
  }
  
  .wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  
  .wrapper ul li a:hover:after {
    transform: scaleY(1);
  }
  
  .wrapper ul li a:hover {
    color: #AEF2F2;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  #active:checked~.wrapper ul li a {
    opacity: 1;
  }
  
  .wrapper ul li a {
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }
  
  #active:checked~.wrapper ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
    transition-delay: .6s;
    transform: translateX(-100px);
  }
  
  /* fin hamburguer */